<a name="search"></a>
<div id="search">
  <form class="form-inline col-md-12">
    <br><br><br><br><br>
    <div class="titletext">
    <h1>Hood Sketch</h1>
    <h4>Search any city in the US for a list of all hoods. Click on any hood to get its sketch!</h4>
    <div class="form-group">
      <input type="text" class="input-city form-control" placeholder="City">
      <input type="text" class="input-state form-control" placeholder="State">
      <input type="button" value="Get Hoods" name="name" class="btn btn-default">
    </div>
    </div>
  </form>
</div>
<div class="content clearfix">
  <div class="hoods clearfix">
    <div class="row">
      <h1 class="title"></h1>
      <div class="col-md-4 left-column"></div>
      <div class="col-md-4 middle-column"></div>
      <div class="col-md-4 right-column"></div>
    </div>
  </div>
  <div class="hood clearfix">
    <div class="row">
      <a name="hood"></a>
      <h1 class="title"></h1>
      <div class="hoodInfo">
        <div class="col-md-6 left"></div>
        <div class="col-md-6 right"></div>
      </div>
    </div>
  </div>
  <div class="charts">
    <a name="charts"></a>
    <ul id="pills" class="nav nav-pills nav-justified" role="tab-list">
      <li id="renters"><a href="">Renters vs. Owners</a></li>
      <li id="age"><a href="">Age Breakdown</a></li>
      <li id="commute"><a href="">Commute Times</a></li>
      <li id="price"><a href="">Median List Price</a></li>
      <li id="relationship"><a href="">Relationship Status</a></li>
    </ul>
    <div id="charts_div" class="col-md-6"></div>
    <div id="chart_description" class="col-md-6"></div>
  </div>
  <center><a href="#search"><i class="fa fa-chevron-up"></i></a><center>
</div>
