<form>
City:<br>
<input type="text" class="input-city"><br>
State:<br>
<input type="text" class="input-state">
<input type="button" name="name" value="Get Hoods">
<br>
</form>

<div class="hoods">

</div>
<br>
<div class="hood">

</div>

<div id="chart_div"></div>
<div id="columnchart_material" style="width: 900px; height: 500px;"></div>
