@import 'bootstrap';
@import 'bootstrap-sprockets';

body {
  padding: 50px 0;
}

#search {
  background-image: url("denver_skyline.jpg");

}

.form-inline {
  text-align: center;
  height: 100px;
}

a {
  color: inherit;
}
.hoods li {
  text-align: center;
  margin-left: -40px;
  list-style-type: none !important;

}

.stats p, .charts img {
  text-align: center;
  padding-top: 35px;
}



h1 {
  text-align: center;
}

i {
  text-align: center;
}
.hood, .hoods, .stats, .charts {
  height: 650px;
}

.hoodInfo {
  padding-left: 40px;
}

.fa {
  font-size: 200%;
  margin-right: 35px;
  display: block;
}

.hoods .fa {
  margin-top: 20px;
}

.hood .fa {

}

.stats .fa {
  margin-top: 460px;
}



img {
  height: 300px;
}

.hoods, .stats {
  background-color: #efefef;
}

.hoods .anchor {
  margin-top: 350px;
}

.hood .anchor {
  margin-top: 50px;

}
